* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

header{
    background-color: #FF6900;
    
    padding: 20px;
    margin-bottom: 40px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;    
}
.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.clearfix{
    content: '';
    display: table;
    clear: both;
}
header .container .custumers{
    color: #ffffff;
}

header .container .custumers .gender{
    margin-right: 10px;;
}
header .header-icons{
    color: #ffffff;
}
header .header-icons .fa{
    margin-right: 5px;
}
.cards .container .photo{ 
    width: 250px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.cards .container .photo .X{
    position: relative;
    color: #ffffff;
}
.cards .container .photo .X .img{
    position: relative;
}
.cards .container .photo .X .img2{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.cards .container .photo .X .img2:hover{
    opacity: 1;
}
.cards .container .photo .X .sale{
    /* width: 40px; */
    background-color: red;

    padding: 0px 5px;

    position: absolute;
    left: 0px;
    bottom: 30px;
}
.cards .container .photo .X .sostenibilità{
    background-color: green;

    padding: 0px 5px;

    position: absolute;
    left: 50px;
    bottom: 30px;
}
.cards .container .photo .X .sostenibilità2{
    background-color: green;

    padding: 0px 5px;

    position: absolute;
    left: 0px;
    bottom: 30px;
}
.heart{
    color: black;
    padding: 10px;
}
.cards .container .photo .X .heart{
    width: 40px;
    height: 40px;
    background-color: #ffffff;

    position: absolute;
    right: 0px;
    top: 10px;
    text-align: center;
} 
.cards .container .photo .new-price{
    color: #FF1421;
}
.cards .container .photo .old-price{
    color: #262626;
    margin-left: 4px;
}
footer{
    background-color: #1A1A1A;
}
footer .container .editor ,
footer .container .find-us {
    padding: 30px;
    color: #ffffff;
}
footer .container .editor .links a{
    font-size: 0.9em;
    color: #ffffff;
    text-decoration: none;
}
footer .container .find-us .footer-icons{
    margin-right: 8px;
    padding-top: 10px;
    text-align: center;
}

